extends ../layout

block content
  form(action="/auth/login" method="POST")
    div
      label(for="username") Username
      input(type="text" name="username" id="username" placeholder="Username" value=`${userInfo.username}`)
    div
      label(for="password") Password
      input(type="password" name="password" id="password" placeholder="Password")
    div
      input(type="hidden", name="_csrf" value=`${csrfToken}`)
      a(href="/auth/register") Need an account? 
      button(type="submit") Login
          
  include ../partials/_footer