extends ../layout

block content
  #inline-register(style="display: none;")
    .card 
      .card-img
        h2.card-heading Title 
        small Descriptor
      form(action="/auth/register" method="POST").form
        div
          label(for="email") Email Address
          input(type="email" name="email" id="email" placeholder="Email Address" value=`${userInfo.email}` autofocus)
        div
          label(for="username") Username
          input(type="text" name="username" id="username" placeholder="Username" value=`${userInfo.username}`)
        div
          label(for="password") Password
          input(type="password" name="password" id="password" placeholder="Password")
        div
          label(for="password2") Confirm Password
          input(type="password" name="password2" id="password2" placeholder="Confirm Password")
          div
            small#checkPw
        div
          input(type="hidden", name="_csrf" value=`${csrfToken}`)
          a(href="/auth/login") Have an account? Login
          button(type="submit") Register
          
  include ../partials/_footer