// COLORS
$color-primary: #171b40;
$color-primary-dark: rgba(155, 125, 79, 1);
$color-primary-light: rgba(155, 125, 79, 0.8);
$color-primary-reviews: #ffcd82;

$color-secondary-dark: rgba(23, 27, 64, 1);
$color-secondary-light: rgba(23, 27, 64, 0.8);

$color-tertiary-dark: rgba(77, 83, 55, 1);
$color-tertiary-light: rgba(77, 83, 55, 0.8);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey: rgba(188, 190, 192, 1);
$color-grey-dark: #888;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-black-light: rgba(0,0,0,0.5);

// FONT SIZES
$default-font-size: 2.4rem;