nav.header__main-nav
  input(type='checkbox' id="checkbox")
  .header__main-nav--hamburger
    div
  .header__main-nav--menu
    div
      div
        ul
          li
            a.nav-link(href='/') Home
          li
            a.nav-link.inline-register(href='#inline-register') Register
          li
            a.nav-link(href='/auth/login') Login