nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-transparent
  .container-fluid
    a.navbar-brand(href='#') Navbar
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Home
      ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        if currentUser && isAuthenticated
          li.nav-item
            a.nav-link(href='/auth/logout') Logout #{currentUser.username}
        else 
          li.nav-item
            a.nav-link(aria-current='page' data-bs-toggle="modal" data-bs-target="#registerModal" href='#registerModal') Register
          li.nav-item
            a.nav-link(href='#') Login
        