#inline-register(style="display: none;")
  .form
    .card
      .card-image
        h2.card-heading
          | Get started
          small Let us create your account
      form.card-form(action='/auth/register', method='POST')
        .input
          input.input-field(type='email' required="" name="email")
          label.input-label Email
        .input
          input.input-field(type='text' required="" name="username")
          label.input-label Username
        .input
          input#password.input-field.password-field(type='password' required="" name="password")
          label.input-label Password
        .input
          div
            span#checkPw
          input#password2.input-field.password-field(type='password' required="" name="password2")
          label.input-label Confirm Password
        .action
          button#registerButton(type="submit").action-button.shadow Get started
      .card-info
        p
          | By signing up you are agreeing to our 
          a(href='#') Terms and Conditions