doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap' rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src="javascripts/jquery.min.js")
    script(src="javascripts/modaal.min.js")
  body
    include partials/_header
    include partials/_registerModal
    block content
    include partials/_footer
