/*
0-600px:       Phone
600-900px:     Tablet portrait
900-1200px:    Tablet landscape
[1200 - 1800]: Normal Styles apply
1800px + :     Big Desktop
&breakpoint argument choices
- phone
- tab-port
- tap-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
*/
html {
  font-size: 62.5%;
}

body {
  font-family: 'Amatic SC', cursive;
  line-height: 1.5;
  color: #888;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: .5rem;
}

.heading-primary--main {
  display: block;
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: .5rem;
}

@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: .5rem;
    font-size: 4rem;
  }
}

.heading-primary--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: .2rem;
}

.heading-primary--dark {
  display: block;
  color: #333;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .05rem;
  line-height: 1.2;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  line-height: 1.1;
}

.lead {
  font-size: 2.4rem;
  font-weight: 200;
}

.sub-text {
  font-size: .8rem;
  letter-spacing: 0.1rem;
  line-height: 1.2;
}

.text-white {
  color: #fff;
}

.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  overflow: hidden;
}

.color-white {
  color: #fff;
}

.form-error {
  color: #ff0000;
}

.form-success {
  color: #60dd06;
}

.nav-link img {
  width: 45px;
}

.btn {
  font-size: 2.2rem;
}

.header {
  height: 100vh;
  max-height: 100vh;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("/images/hero.jpg");
}

.navbar-brand {
  font-size: 3rem;
}

.nav-link {
  font-size: 2.4rem;
}

.form-control {
  font-size: 2.2rem;
}

.container-nbs {
  margin: 0 auto;
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 11rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: repeat(7, -webkit-min-content);
  grid-template-rows: repeat(7, min-content);
}

img {
  max-width: 100%;
  display: block;
}

input {
  -webkit-appearance: none;
          appearance: none;
  border-radius: 0;
}

.form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-modaal {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
  padding: 0.75rem;
}

@media (max-width: 37.5em) {
  .card-modaal {
    width: 95% !important;
  }
}

.card-image {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 65%;
  background-image: url("/images/auth.jpeg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0 5%;
  position: relative;
}

.card-heading {
  position: absolute;
  left: 10%;
  top: 15%;
  right: 10%;
  font-size: 2.75rem;
  font-weight: 700;
  color: #735400;
  line-height: 1.222;
}

.card-heading small {
  display: block;
  font-size: 1.75rem;
  font-weight: 400;
  margin-top: 0.25em;
}

.card-form {
  padding: 2rem 1rem 0;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
}

.input + .input {
  margin-top: 1.5rem;
}

.input-label {
  color: #8597a3;
  position: absolute;
  top: 1.5rem;
  transition: 0.25s ease;
  font-size: 1.8rem;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.6rem;
  padding: 0.25rem 0;
}

.input-field:focus, .input-field:valid, .input-field:-webkit-autofill, .input-field:-webkit-autofill:hover, .input-field:-webkit-autofill:focus, .input-field:-webkit-autofill:active {
  outline: 0;
  border-bottom-color: #6658d3;
}

.input-field:focus + .input-label, .input-field:valid + .input-label, .input-field:-webkit-autofill + .input-label, .input-field:-webkit-autofill:hover + .input-label, .input-field:-webkit-autofill:focus + .input-label, .input-field:-webkit-autofill:active + .input-label {
  color: #6658d3;
  -webkit-transform: translateY(-2.2rem);
          transform: translateY(-2.2rem);
}

.input-field:-webkit-autofill, .input-field:-webkit-autofill:hover, .input-field:-webkit-autofill:focus, .input-field:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.action {
  margin-top: 2rem;
}

.action-button {
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #6658d3;
  border-radius: 6px;
  color: #fff;
  border: 0;
}

.action-button:focus {
  outline: 0;
}

.card-info {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 1.675rem;
  color: #8597a3;
}

.card-info a {
  display: block;
  color: #6658d3;
  text-decoration: none;
}

div span#checkPw {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  padding: .5rem 0;
}
/*# sourceMappingURL=style.css.map */