html {
  font-size: 62.5%;
}

body {
  font-family: 'Amatic SC', cursive;
  line-height: 1.5;
  color: $color-grey-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

