.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;

  @include respond(tab-port) {
    margin-bottom: 6rem;
  }
}

.u-margin-bottom-med {
  margin-bottom: 4rem;

  @include respond(tab-port) {
    margin-bottom: 2rem;
  }
}

.u-margin-bottom-sm {
  margin-bottom: 2rem;

  @include respond(tab-port) {
    margin-bottom: 1rem;
  }
}

.u-margin-top-big {
  margin-top: 8rem;

  @include respond(tab-port) {
    margin-top: 6rem;
  }
}

.u-margin-top-med {
  margin-top: 4rem;

  @include respond(tab-port) {
    margin-top: 2rem;
  }
}

.u-margin-top-sm {
  margin-top: 2rem;

  @include respond(tab-port) {
    margin-top: 1rem;
  }
}

.u-hide-overflow-y {
  overflow-y: hidden;
}

.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  overflow: hidden;
}
