.header__main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;

  li {
    list-style: none;
  }

  & input[type="checkbox"] {
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 5rem;
    width: 5rem;
    opacity: 0;
    cursor: pointer;
    z-index: 3;

    &:checked + .header__main-nav--hamburger > div {
      transform: rotate(135deg);

      &::before {
        left: 0;
        top: 0;
        width: 100%;
        transform: rotate(270deg);
      }

      &::after {
        opacity: 0;
      }
    }

    &:checked:hover + .header__main-nav--hamburger > div {
      transform: rotate(405deg);
    }

    &:checked ~ .header__main-nav--menu {
      visibility: visible;

      & > div {
        transform: scaleX(1);
        transition-duration: 0.5s;

        & > div {
          opacity: 1;
        }
      }
    }
  }

  &--hamburger {
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    background-color: $color-primary;
    z-index: 2;

    display: grid;
    place-items: center;

    animation: main-nav 1.5s;

    & > div {
      position: relative;
      height: 0.3rem;
      width: 100%;
      background-color: $color-white;

      display: grid;
      place-items: center;
      transition: all 0.3s ease-in-out;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -1rem;
        width: 60%;
        height: inherit;
        background-color: inherit;
        z-index: 2;
      }

      &::before {
        left: 0;
      }

      &::after {
        top: 1rem;
        right: 0;
      }
    }
  }

  &--menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    overflow: hidden;

    display: grid;
    place-items: center;

    & > div {
      background-color: rgba($color-secondary-dark, 0.7);
      height: 100vh;
      width: 100vw;

      display: grid;
      place-items: center;

      transform: scaleX(0);
      transition: all 0.5s ease-in-out;

      & > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
    }

    & ul li {
      margin-bottom: 1rem;
    }

    & ul li a:link,
    & ul li a:visited {
      z-index: 5;
      font-size: calc(2.5rem + 0.5vw);
      position: relative;
      text-decoration: none;
      color: $color-white;
      padding: 1rem 2rem;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        transform: scaleY(0);
        background-color: $color-primary;
        transition: all 0.3s ease-in-out;
      }
    }

    & ul li a:hover::before,
    & ul li a:active::before {
      transform: scaleY(1);
    }

    & ul li a.active {
      background-color: $color-secondary-light;
    }
  }
}